# npm
node_modules/
npm-debug.log

# OSX
.DS_Store
.Spotlight-V100
.Trashes

# vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# built artifacts
coverage/

# something else
test/sounds/midi-debug.json
